body {
    font-family: 'Roboto', sans-serif;
}

label,
input,
textarea {
    font-size: 16px;
}

button {
    font-size: 18px;
}
main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    text-align: center;
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #007bff;
}/*

/* Transiciones y animaciones */
a, button {
    transition: color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* Añadir una transición suave a las secciones */
section {
    transition: background-color 0.3s ease-in-out;
}

section:hover {
    background-color: #f4f4f4;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 2em;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

/* Estilos adicionales para la imagen */
header img {
    max-width: 10%;
    height: auto;
    border-radius: 50%; /* Un estilo redondeado para la imagen */
    margin-bottom: 10px; /* Agrega espacio entre la imagen y el texto */
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

/* ... */
section {
    margin: 2em;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
}

section p {
    line-height: 1.6;
}

/* Estilos de la sección "Escolaridad" */
#education {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.education-item {
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.education-item:hover {
    background-color: #e0e0e0;
}

.education-item h3,
.education-item p {
    margin: 0;
    color: #333;
}

.show-details h3,
.show-details p {
    color: #007bff;
}

/* Estilos CSS del Modal para el boton de  apertura y cierre */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

/* Estilos para la galería de proyectos */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.project-card {
    width: 300px;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    font-size: 0.9em;
    color: #555;
}

.project-card a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.project-card a:hover {
    background-color: #0056b3;
}


/* Estilos para la sección de habilidades */
#skills {
    text-align: left;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    margin: 10px;
    text-align: center;
}

.skill img {
    max-width: 100px;
    height: auto;
}

.skill p {
    margin: 5px 0 0;
}

.skill img {
    max-width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.skill:hover img {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ... */

/* Colores consistentes */
/* Estilo seccion contacto */

#contact {
    text-align: center;
    background-color: #f9f9f9;
    padding: 40px 0;
}
.contact-form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
   /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input:focus,
textarea:focus {
    border-color: #007bff;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

/* ... */

/* ... */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
